.flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.rev {
    display: flex;
    flex-direction: column-reverse;
}

/* .rev #carre4 {
    order: 2;
}

.rev #carre3 {
    order: 1;
} */

.carre {
    min-height: 250px;
    min-width: 250px;
    border: 1px solid black;
}

.bg {
    background-color: blue;
}